{{define "footer"}}
</div>


</main>

<footer>
<div class="text-bg-primary text-wrap py-5 text-center">
    <p>&copy: qitian118<a href="https://github.com/qitian118" class="text-reset">qitian118</a></p>
</div>

</footer>

    <script src="static/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
  </body>
</html>
{{end}}